ENVIRONMENT=dev

PLAYWRIGHT_DEV_URL=https://playwright.dev/
DEMO_PLAYWRIGHT_DEV_URL=https://demo.playwright.dev/todomvc/
API_BASE_URL=https://jsonplaceholder.typicode.com

SAUCE_DEMO_URL=https://www.saucedemo.com/
SAUCE_DEMO_USERNAME=standard_user
SAUCE_DEMO_LOCKED_OUT_USERNAME=locked_out_user
SAUCE_DEMO_PASSWORD=secret_sauce
